body {
  background: #212529;
}

h1 {
  color: white;
  text-align: center;
}

.btn {
  font-weight: bold;
  border: solid 1px #2A689A;
  color: #2A689A;
  margin: 5px;
}

#create-array {
  border: solid 1px #1C818B;
  color: #1C818B;
}

#hero {
  display: flex;
  justify-content: center;
  margin: 75px auto;
  padding: 10px;
}

.style-bar {
  background: #BDBF13;
  width: 7.5px;
  margin: 2.5px;
}